/* custom.css */
.navbar-transparent {
    margin-left: 2rem; /* 왼쪽에 3rem 마진 추가 */
    margin-right: 2rem; /* 오른쪽에 3rem 마진 추가 */
    margin-top: 1rem;
}

/* .carousel-caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background: rgba(0, 0, 0, 0.7); /* 배경색 및 투명도 설정 */
            color: white; /* 텍스트 색상 설정 */
            padding: 20px; /* 텍스트 주위 여백 설정 */
} */